doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title lightnight
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet', href='/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.js')
    script(src='/javascripts/proj4.js')
    script(src='/javascripts/proj4leaflet.js')
  body
    block content