extend default

block content
  p. 
    Our problem statement: "How might we empower and bring confidence to people walking through public space?"
  p.
    Our proposed solution: To create a data web portal to show zones of pedestrian safety and risk.
  p.
    The project is twofold - first, the web portal: layering CCTV, pedestrian footpath, traffic incident and establishment opening hours to procure a heat map of relative pedestrian safety. This portal would be used as a baseline for government and public to access and view safe (and unsafe) zones at street and address level.
  p.
    Second, the user layer: designing a mobile service allowing members of the public to share incident hotspots in both a passive and active manner. The more users opt-in to this service, the better the reporting on pedestrian safety at a local level. This data would be fed into the web portal as an extra layer, which would be maintained and curated in real time.
  p.
    The two services in tandem would serve as a feedback loop, where location-specific incident reporting is collated on top of an existing pedestrian safety heat map. In combination, this portal will be used by government and council to deliver actionable insight for the public's safety. As changes are made, ongoing user data will also shift, allowing government to measure the impact and effectiveness of changes enacted.
